joblib
nltk
numpy
pandas
scikit_learn
scipy
spacy==3.6.1
streamlit
textblob
textstat
matplotlib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.1/en_core_web_sm-3.6.1-py3-none-any.whl

